In [1]:
import pandas as pd
import numpy as np

In [3]:
financial_data = pd.read_csv('ecl_dataset_grouped_eligible_with_reports_2024-05-22_19-47-15.csv')
print(len(financial_data))
financial_data.head()

5043

,cik,bankruptcy_date_1,bankruptcy_date_2,bankruptcy_date_3,ticker,label,cik-equal-gurufocus-cik,filing_date,is_bankruptcy_date_filled,report_datetime_before_decision,report_filename_before_decision
0,1800,NaN,NaN,NaN,ABT,False,True,2021-02-19,False,2020-02-21,/2019/1800_10K_2019_0001104659-20-023904.json
1,2488,NaN,NaN,NaN,AMD,False,True,2021-01-29,False,2020-02-04,/2019/2488_10K_2019_0000002488-20-000008.json
2,2491,NaN,NaN,NaN,BYI,False,True,2014-08-29,False,2013-08-28,/2013/2491_10K_2013_0001047469-13-008711.json
3,2969,NaN,NaN,NaN,APD,False,True,2021-11-18,False,2020-11-19,/2020/2969_10K_2020_0000002969-20-000049.json
4,3153,NaN,NaN,NaN,ALPpQ.PFD,False,True,2021-02-18,False,2020-02-20,/2019/3153_10K_2019_0000092122-20-000017.json

In [21]:
reports_dates = financial_data[['cik', 'ticker', 'report_datetime_before_decision']]
print(reports_dates['ticker'].value_counts())
print(len(reports_dates['ticker'].unique()))
reports_dates.head()

ticker
OPEN    3
CF      3
TW      3
EYE     3
CZR     3
       ..
IPX     1
NSDB    1
ANIK    1
JBL     1
FLNC    1
Name: count, Length: 4915, dtype: int64
4915

    cik     ticker report_datetime_before_decision
0  1800        ABT                      2020-02-21
1  2488        AMD                      2020-02-04
2  2491        BYI                      2013-08-28
3  2969        APD                      2020-11-19
4  3153  ALPpQ.PFD                      2020-02-20

In [24]:
textual_dataset = pd.read_csv('textual_data_matched_split_version5.csv')
print(len(textual_dataset))
print(f"Number of unique CIKs: {len(textual_dataset['cik'].unique())}")
print(f"Number of original samples: {len(textual_dataset[''].unique())}")
textual_dataset.head()

7214
Number of unique CIKs: 7214

         cik  label subset                                               text
0     737874  False  train  Laidlaw International Inc. is a leading provid...
1    1464343  False  train  The company utilizes proprietary analytics and...
2  102336208   True  train  The company manufactures and sells wireless co...
3    1022368  False  train  The company experienced net income (loss) fluc...
4     815094  False  train  The company is a leading provider of temporary...

In [23]:
merged_data = pd.merge(reports_dates, textual_dataset, on='cik', how='right')
print(len(merged_data))
merged_data.head()

7214

,cik,ticker,report_datetime_before_decision,label,subset,text
0,737874,LI,2005-11-14,False,train,Laidlaw International Inc. is a leading provid...
1,1464343,ATLC,2020-03-30,False,train,The company utilizes proprietary analytics and...
2,102336208,NaN,NaN,True,train,The company manufactures and sells wireless co...
3,1022368,SHF,2001-08-29,False,train,The company experienced net income (loss) fluc...
4,815094,ABMD,2020-05-21,False,train,The company is a leading provider of temporary...

In [19]:
len(merged_data['ticker'].unique())

4414

In [25]:
print(merged_data['ticker'].value_counts())

ticker
AM               3
EYE              3
TW               3
CZR              3
AGR              2
                ..
STEI             1
CLAY             1
SABR             1
XXXX             1
CHSPPRACL.PFD    1
Name: count, Length: 4413, dtype: int64

In [26]:
# get rows count that have Nan in column 'report_datetime_before_decision' and 'text'
print(merged_data['report_datetime_before_decision'].isnull().sum())

2712

In [30]:
final_financial_data = pd.read_csv('bankrupt_companies_with_17variables_5years_split_version5_complete.csv')
print(len(final_financial_data)/5)
final_financial_data.head()

7214.0

,cik,ticker,label,subset,Fiscal Period,Cost of Goods Sold,"Depreciation, Depletion and Amortization",EBIT,EBITDA,Gross Profit,...,Net Income,Retained Earnings,Revenue,Total Assets,Total Current Assets,Total Current Liabilities,Total Inventories,Total Liabilities,Total Operating Expense,Total Receivables
0,737874,LI,False,train,Aug 2002,479.0,281.0,1028.0,1310.0,4004.0,...,-1223.0,-10.0,4483.0,3853.0,948.0,695.0,50.0,2562.0,3829.0,570.0
1,737874,LI,False,train,Aug 2003,479.0,281.0,1028.0,1310.0,4004.0,...,-1223.0,-10.0,4483.0,3853.0,948.0,695.0,50.0,2562.0,3829.0,570.0
2,737874,LI,False,train,Aug 2004,483.0,284.0,224.0,507.0,4149.0,...,62.0,52.0,4631.0,3905.0,1032.0,687.0,51.0,2529.0,3928.0,588.0
3,737874,LI,False,train,Aug 2005,579.0,249.0,63.0,312.0,2447.0,...,212.0,249.0,3027.0,2909.0,606.0,448.0,33.0,1309.0,2282.0,203.0
4,737874,LI,False,train,Aug 2006,582.0,216.0,261.0,477.0,2550.0,...,125.0,315.0,3132.0,3039.0,741.0,531.0,41.0,1831.0,2299.0,211.0

In [32]:
original_financial_data = final_financial_data[~final_financial_data['ticker'].isna()]
print(len(original_financial_data)/5)

4466.0

In [33]:
original_financial_data_uniqe_ciks = original_financial_data['cik'].unique()
print(len(original_financial_data_uniqe_ciks))

4466

In [53]:
original_textual_data = textual_dataset[textual_dataset['cik'].isin(original_financial_data_uniqe_ciks)]
synthetic_textual_data = textual_dataset[~textual_dataset['cik'].isin(original_financial_data_uniqe_ciks)]
len(original_textual_data), len(synthetic_textual_data)

(4466, 2748)

In [54]:
merged_data = pd.merge(reports_dates, original_textual_data, on='cik', how='right')
print(len(merged_data))
merged_data.head()

4466

,cik,ticker,report_datetime_before_decision,label,subset,text
0,737874,LI,2005-11-14,False,train,Laidlaw International Inc. is a leading provid...
1,1464343,ATLC,2020-03-30,False,train,The company utilizes proprietary analytics and...
2,1022368,SHF,2001-08-29,False,train,The company experienced net income (loss) fluc...
3,815094,ABMD,2020-05-21,False,train,The company is a leading provider of temporary...
4,1159297,MWV,2014-02-24,False,train,MeadWestvaco reported a 2% increase in sales a...

In [55]:
merged_data['ticker'].isnull().sum(), merged_data['report_datetime_before_decision'].isnull().sum()

(0, 0)

In [56]:
len(merged_data['ticker'].unique())

4377

In [57]:
# rename column report_datetime_before_decision to report_datetime
merged_data.rename(columns={'report_datetime_before_decision': 'report_datetime'}, inplace=True)
merged_data.head()

,cik,ticker,report_datetime,label,subset,text
0,737874,LI,2005-11-14,False,train,Laidlaw International Inc. is a leading provid...
1,1464343,ATLC,2020-03-30,False,train,The company utilizes proprietary analytics and...
2,1022368,SHF,2001-08-29,False,train,The company experienced net income (loss) fluc...
3,815094,ABMD,2020-05-21,False,train,The company is a leading provider of temporary...
4,1159297,MWV,2014-02-24,False,train,MeadWestvaco reported a 2% increase in sales a...

In [58]:
# add to synthetic_textual_data the column report_datetime with Nan values and ticker with Nan values
synthetic_textual_data['report_datetime'] = np.nan
synthetic_textual_data['ticker'] = np.nan
synthetic_textual_data.head()

C:\Users\grzeg\AppData\Local\Temp\ipykernel_18276\3276549069.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  synthetic_textual_data['report_datetime'] = np.nan
C:\Users\grzeg\AppData\Local\Temp\ipykernel_18276\3276549069.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  synthetic_textual_data['ticker'] = np.nan

,cik,label,subset,text,report_datetime,ticker
2,102336208,True,train,The company manufactures and sells wireless co...,NaN,NaN
8,141063709,True,train,"Compared to 2008, total revenue decreased by 6...",NaN,NaN
9,94577107,True,train,"Losses, negative cash flows, and a working cap...",NaN,NaN
11,77346804,True,train,"During the year ended December 31, 2007, Indym...",NaN,NaN
12,116612602,True,train,"As a national omnichannel retailer, JCPenney o...",NaN,NaN

In [112]:
# concatenate the original and synthetic textual data
final_textual_data = pd.concat([merged_data, synthetic_textual_data])
print(len(final_textual_data))
final_textual_data.head()

7214

,cik,ticker,report_datetime,label,subset,text
0,737874,LI,2005-11-14,False,train,Laidlaw International Inc. is a leading provid...
1,1464343,ATLC,2020-03-30,False,train,The company utilizes proprietary analytics and...
2,1022368,SHF,2001-08-29,False,train,The company experienced net income (loss) fluc...
3,815094,ABMD,2020-05-21,False,train,The company is a leading provider of temporary...
4,1159297,MWV,2014-02-24,False,train,MeadWestvaco reported a 2% increase in sales a...

In [113]:
# reorder columns
final_textual_data = final_textual_data[['cik', 'ticker', 'label', 'subset', 'report_datetime', 'text']]
final_textual_data.head()

,cik,ticker,label,subset,report_datetime,text
0,737874,LI,False,train,2005-11-14,Laidlaw International Inc. is a leading provid...
1,1464343,ATLC,False,train,2020-03-30,The company utilizes proprietary analytics and...
2,1022368,SHF,False,train,2001-08-29,The company experienced net income (loss) fluc...
3,815094,ABMD,False,train,2020-05-21,The company is a leading provider of temporary...
4,1159297,MWV,False,train,2014-02-24,MeadWestvaco reported a 2% increase in sales a...

In [114]:
final_textual_data['ticker'].isnull().sum(), final_textual_data['report_datetime'].isnull().sum()

(2748, 2748)

In [115]:
def match_textual_data_with_financial_data(textual_dataset, financial_dataset):
    financial_dataset_ciks = financial_dataset['cik'].unique()
    
    textual_dataset_copy = textual_dataset.copy()
    textual_dataset_copy['cik'] = pd.Categorical(textual_dataset_copy['cik'], categories=financial_dataset_ciks, ordered=True)
    textual_dataset_copy = textual_dataset_copy.sort_values('cik').reset_index(drop=True)
    
    assert financial_dataset_ciks.tolist() == textual_dataset_copy['cik'].tolist()
    
    return textual_dataset_copy

In [116]:
final_textual_data = match_textual_data_with_financial_data(final_textual_data, final_financial_data)
final_textual_data.head()

,cik,ticker,label,subset,report_datetime,text
0,737874,LI,False,train,2005-11-14,Laidlaw International Inc. is a leading provid...
1,1464343,ATLC,False,train,2020-03-30,The company utilizes proprietary analytics and...
2,102336208,NaN,True,train,NaN,The company manufactures and sells wireless co...
3,1022368,SHF,False,train,2001-08-29,The company experienced net income (loss) fluc...
4,815094,ABMD,False,train,2020-05-21,The company is a leading provider of temporary...

In [118]:
len(final_financial_data)/5

7214.0

In [104]:
final_financial_data['ticker'] = final_financial_data['ticker'].astype(str)

In [105]:
final_financial_data_uniqe= final_financial_data.drop_duplicates(subset=['cik'])
# reset index of final_financial_data_uniqe
final_financial_data_uniqe.reset_index(drop=True, inplace=True)
print(len(final_financial_data_uniqe))
final_financial_data_uniqe.head()

7214

,cik,ticker,label,subset,Fiscal Period,Cost of Goods Sold,"Depreciation, Depletion and Amortization",EBIT,EBITDA,Gross Profit,...,Net Income,Retained Earnings,Revenue,Total Assets,Total Current Assets,Total Current Liabilities,Total Inventories,Total Liabilities,Total Operating Expense,Total Receivables
0,737874,LI,False,train,Aug 2002,479.0,281.0,1028.0,1310.0,4004.0,...,-1223.0,-10.0,4483.0,3853.0,948.0,695.0,50.0,2562.0,3829.0,570.0
1,1464343,ATLC,False,train,Dec 2016,56.0,7.5,49.0,53.0,135.0,...,-6.3,-205.9,59.5,362.5,144.0,80.0,412.0,356.8,82.0,295.8
2,102336208,nan,True,train,NaN,30.0,9.0,8.0,18.0,35.0,...,-1.0,-1.0,41.0,124.0,68.0,12.0,12.0,23.0,30.0,17.0
3,1022368,SHF,False,train,May 2008,124.0,3.0,15.0,18.0,67.0,...,10.0,20.0,191.0,130.0,111.0,19.0,30.0,21.0,52.0,21.0
4,815094,ABMD,False,train,Mar 2017,71.0,6.0,90.0,96.0,375.0,...,52.0,-47.0,445.0,550.0,327.0,70.0,35.0,98.0,285.0,54.0

In [108]:
for i in range(len(final_financial_data_uniqe)):
    if (final_financial_data_uniqe.loc[i, 'ticker'] != final_textual_data.loc[i, 'ticker'] and
            (final_financial_data_uniqe.loc[i, 'ticker'] and final_textual_data.loc[i, 'ticker'] != None)):
        print(f"Index: {i}, Ticker financial data: {final_financial_data_uniqe.loc[i, 'ticker']}, Ticker textual data: {final_textual_data.loc[i, 'ticker']}")

Index: 6322, Ticker financial data: FPOpA, Ticker textual data: FPOpA_CL.PFD

manually corrected the ticker value in the textual data

In [117]:
final_textual_data.to_csv('textual_data_version6_complete.csv', index=False)